<h3 class="pb-3 mb-4 font-italic border-bottom">
  新規投稿
</h3>
<form action="<%=	 link_edit_to "" %>" method="post" name="post_form">
  <div class="form-group">
    <label for="UserName" class="form-cotntrol font-italic">タイトル</label>
    <input type="text" name="title" id="title" class="form-control">
  </div>
  <div class="form-group">
    <label for="body" class="form-label font-italic">
      登録内容
    </label>
    <textarea name="content" id="text" cols="30" rows="10" placeholder="投稿内容" class="form-control font-italic"></textarea>
    <p class="help-block">10000文字まで入力できます</p>
  </div>
  <input type="submit" class="btn btn-outline-primary" value="投稿" >
</form>